<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<h2>Sample App</h2>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>